<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boys High School Soccer | Hartford Courant</title>
    <meta name="description" content="Connecticut Boys High School Soccer Schedules, Results and Standings">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex,nofollow">
    <!-- faviocons -->
    <link rel="apple-touch-icon" sizes="76x76" href="../../icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="160x160" href="../../icons/apple-touch-icon-160x160.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon-180x180.png">
    <link rel="icon" href="../../icons/favicon.ico" type="image/x-icon" />
    <!-- css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://hc-assets.s3.amazonaws.com/css/table.css">
    <link rel="stylesheet" type="text/css" href="../_globals/v247/assets/css/varsity247.css">
    <link rel="stylesheet" type="text/css" href="assets/css/overwrite.css">   
</head>