/* Global Styles */
.border-all{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.shadow{
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.shadow-inner{
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}
/* Results Table */
table#results, table.results{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    background-color: transparent;
}
table#results tbody td, table#results thead th,
table.results tbody td, table.results thead th{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size:14px;
    line-height:16px;
    padding:8px 5px 8px 5px;
    overflow:hidden;
    word-break:normal;
    text-align:left;
    color:#666666;
}
table#results thead tr th.col_1,table#results tbody tr td.col_1{width:50%;}
table#results thead tr th.col_2,table#results tbody tr td.col_2,table#results thead tr th.col_3,table#results tbody tr td.col_3{width:25%;}
table#results thead th,table.results thead th{padding-bottom:10px;text-align:left;font-weight:700;}
table#results thead th,table.results thead th{font-size:12px;}
table#results tbody tr.total td{font-weight:700;}
table#results tbody tr,table.results tbody tr{border-top:1px solid #B3B3B3;}
table#results tbody tr.even,table.results tbody tr.even{background-color:#f1f1f1;}
table#results tbody tr.odd,table.results tbody tr.odd{background-color:#fff;}
table#results tbody tr:hover,table.results tbody tr:hover{background-color:#b3b3b3;}
table#results tbody tr:hover td,table.results tbody tr:hover td{color:#ffffff;}
table#results tbody td.overall,table.results tbody td.overall{padding-left: 4px;}

#hc-mm-wrapper table#results tbody td, table#results thead th{
    font-size: 12px;
}

#branding nav ul li.dropdown, #hc-mm-wrapper #period-nav ul li.period-link, .score_card .facility p.hover span, .score_card table tbody td.team, .submit_link, .team_schedule table tbody td.team, ul#standings_nav li a {
	cursor: pointer
}
#branding nav ul li, #hc-mm-wrapper #period-nav ul, #mobile nav ul li, body {
	font-family: Arial, Helvetica, sans-serif
}
#hc-mm-wrapper #header, form {
	margin-bottom: 0
}
body, h1, h2, h3, html, li, p, ul {
	margin: 0;
	padding: 0
}
body, html {
	height: 100%
}
#branding, #branding #nav-wrapper, #mobile, #schedule_form, #schedule_form .btn, #score_nav_button .btn, #team_form, #team_form .btn, .score_card {
	width: 100%
}
#mobile nav ul li a:hover, .back_link a:hover, .submit_link, .submit_link:hover, footer p a:hover, ul#standings_nav li a:hover {
	text-decoration: none
}
body {
	font-weight: 300;
	color: #333;
	background: rgba(255, 255, 255, 1);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back_link a, .make-bold {
	font-weight: 700
}
.back_link a {
	font-size: .9em;
	color: #428bca
}
.border-all {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd
}
.btn-primary:hover {
	color: #fff;
	background-color: #3071a9;
	border-color: #285e8e
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}
.dropshadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
hr {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999
}
.mod_bg {
	padding: 0;
	background: 0 0;
	margin-bottom: 15px!important;
	position: relative
}
#hc-mm-wrapper .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
#hc-mm-wrapper #league .form-control {
	height: 25px
}
li.section_label, p.section_label {
	font-weight: 700;
	font-size: 1em;
	text-align: left;
	color: #999;
	margin-top: 15px
}
.submit_link {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: 0
}
#mobile nav ul li, .score_card .facility, .score_card table tbody tr {
	border-top: 1px solid #ccc
}
.submit_link:hover {
	color: #428bca
}
#branding {
	padding: 3px 10px 3px 5px;
	background-color: #008ed3;
	width: calc(100% - 15px);
	border-radius: 2px;
	margin-bottom: 20px
}
#branding h1 {
	float: left;
	font-size: 18px;
	color: #fff
}
#branding img {
	float: left;
	height: 27px
}
#branding ul {
	float: right;
	margin-left: 0;
	padding-top: 4px
}
#branding ul li {
	float: right;
	display: inline;
	color: #fff;
	padding-top: 2px;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #fff
}
#branding ul li:last-of-type {
	border-left: none;
	margin-left: 0;
	padding-left: 0
}
#branding ul li input:hover {
	color: #ccc
}
#branding nav {
	float: right
}
#branding nav ul {
	display: none;
	list-style: none;
	padding-top: 14px
}
#branding nav #menu-icon {
	display: block;
	width: 30px;
	height: 16px;
	margin-top: 6px;
	background: url(http://hc-assets.s3.amazonaws.com/icons/hamburger-icon.png) center;
	background-size: 30px 16px
}
#branding nav a:hover#menu-icon {
	background-color: transparent;
	opacity: .5
}
#branding nav ul li {
	display: inline-block;
	float: right;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 14px;
	font-size: 14px
}
#branding nav ul li a {
	color: #fff;
	text-decoration: none
}
#branding nav ul li a:hover {
	color: #7fc6e9;
	text-decoration: none
}
#branding nav ul li.inactive {
	display: none
}
#branding nav ul li.active a {
	color: #7fc6e9
}
#branding nav ul li ul.subnav {
	width: auto;
	display: none;
	padding-top: 0;
	float: none;
	z-index: 9999;
	position: absolute;
	padding-left: 0
}
#mobile, footer {
	position: fixed
}
#branding nav ul li ul.subnav:hover, #branding nav ul li.dropdown:hover ul.subnav {
	display: block
}
#branding nav ul li ul.subnav li {
	padding: 10px 5px;
	text-align: left;
	float: none;
	display: block;
	margin: 0;
	border-left: none;
	background-color: #008ed3
}
#hc-mm-wrapper #period-nav ul.desktop, #mobile, #mobile nav ul li.inactive {
	display: none
}
#branding nav ul li ul.subnav li:first-of-type {
	padding-top: 15px
}
#branding nav ul li ul.subnav li:hover a {
	color: #40aade
}
#branding nav ul li ul.subnav li a {
	float: none;
	color: #fff;
	text-align: left;
	padding: 10px 5px
}
#mobile {
	top: 139px;
	background-color: rgba(255, 255, 255, 1);
	padding: 0;
	width: calc(100% - 40px);
	z-index: 9999
}
#mobile nav ul {
	list-style: none;
	padding-left: 0
}
#mobile nav ul li {
	padding: 5px 0 5px 5px
}
#mobile nav ul li:first-of-type, .team_schedule thead tr {
	border-top: none
}
#mobile nav ul li:last-of-type {
	border-bottom: 1px solid #ccc
}
#mobile nav ul li:hover {
	background-color: #fff
}
#hc-mm-wrapper .buttons.mobile button.sked_link.active, #hc-mm-wrapper .buttons.mobile button.stand_link.active {
	background-color: #3071a9
}
#mobile nav ul li a {
	color: #428bca
}
#mobile nav ul li a:hover {
	text-decoration: none;
	color: #7fc6e9
}
#hc-mm-wrapper #period-nav select.mobile {
	display: block
}
#hc-mm-wrapper #period-nav ul {
	margin: 0;
	padding: 0;
	list-style: none
}
#hc-mm-wrapper #period-nav ul li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	font-weight: 700;
	font-size: 15px;
	color: #008ed3
}
#hc-mm-wrapper #period-nav ul li.active, #hc-mm-wrapper #period-nav ul li.period-link:hover {
	color: #7fc6e9
}
#hc-mm-wrapper #period-nav ul li#league {
	padding: 0 10px 0 0
}
#hc-mm-wrapper #period-nav ul li.label {
	text-transform: uppercase;
	margin-right: 10px;
	padding-right: 10px
}
#hc-mm-wrapper #period-nav a.sked_link, #hc-mm-wrapper #period-nav a.stand_link {
	cursor: pointer;
	color: #008ed3
}
#hc-mm-wrapper #period-nav a.sked_link.active, #hc-mm-wrapper #period-nav a.sked_link:hover, #hc-mm-wrapper #period-nav a.stand_link.active, #hc-mm-wrapper #period-nav a.stand_link:hover {
	color: #7fc6e9
}
#hc-mm-wrapper .buttons.mobile {
	display: block;
	width: 100%;
	margin-bottom: 20px
}
#hc-mm-wrapper .buttons.mobile button.sked_link, #hc-mm-wrapper .buttons.mobile button.stand_link {
	width: 50%
}
#hc-mm-wrapper .buttons.mobile button.stand_link {
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}
#hc-mm-wrapper .buttons.mobile button.sked_link {
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
#standings {
	position: absolute;
	top: 0;
	right: 0
}
#standings ul {
	margin: 0;
	padding: 0
}
#standings ul li {
	float: right;
	display: inline;
	font-size: 10px;
	line-height: 12px;
	color: #428bca;
	padding-top: 0;
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #428bca
}
#standings ul li:last-of-type {
	border-left: none;
	margin-left: 0;
	padding-left: 0
}
#standings ul li:hover {
	opacity: .5
}
#wrapper {
	margin-top: 0;
	margin-bottom: 50px
}
#wrapper header {
	margin-bottom: 15px
}
.results_wrapper {
	margin-top: 0;
	width: 100%
}
#wrapper a:hover {
	color: #3071a9
}
#wrapper h1 {
	font: 400 27px/27px Georgia, serif;
	margin: 0 0 5px
}
#wrapper h2 {
	font: 600 18px/18px Georgia, serif;
	margin: 20px 0 10px;
	color: #333;
	padding-left: 0
}
#wrapper h3 {
	font: 600 21px/21px Georgia, serif
}
#wrapper span.overline {
	font: 700 15px/18px Georgia, serif;
	color: #428bca;
	display: block;
	margin: 25px 0 10px
}
#wrapper p.details, .strip, .strip p {
	margin-bottom: 0;
	font-size: 12px
}
#wrapper p.details {
	font-family: Arial, Helvetica, sans-serif
}
#wrapper span.year {
	display: none
}
#score_nav_button {
	display: block
}
#score_nav_wrapper {
	margin-top: 10px;
	display: none
}
#schedule_form .form-group, #team_form .form-group {
	margin-bottom: 10px
}
.score_card form, .strip p, .team_schedule form {
	margin-bottom: 0
}
#team_form {
	margin-top: 10px
}
.score_card {
	overflow: hidden;
	float: left;
	margin-bottom: 20px;
	margin-right: 0;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
.score_card.left {
	clear: left
}
.results .score .submit_link {
	font-weight: 700
}
.results .submit_link:hover {
	color: #428bca
}
.strip {
	background-color: #1e1e1e;
	height: 30px;
	font-family: Georgia, serif;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	border-radius: 2px
}
.strip p {
	color: #fff;
	padding-top: 5px;
	width: auto
}
.strip p.date {
	float: left;
	padding-left: 10px;
	width: auto
}
.strip p.period {
	float: right;
	padding-right: 10px;
	width: auto
}
.score_card table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse
}
.score_card table thead th {
	font-size: 9px;
	font-weight: 700;
	padding: 5px;
	text-align: center
}
.score_card table tbody tr.win {
	background-color: #e6e6e6
}
.score_card table tbody td {
	font-size: 12px;
	height: 25px;
	vertical-align: middle
}
.score_card table tbody td.team:hover, .team_schedule table tbody td.team:hover {
	color: #ccc
}
.score_card .facility {
	padding: 5px 0 0 5px
}
.score_card .facility input, .score_card .facility p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-bottom: 0
}
.score_card .facility p.hover span {
	color: #008ed3
}
.score_card .facility p.hover span:hover {
	color: #3071a9
}
.score_card .facility p a {
	text-decoration: none;
	color: #008ed3
}
.score_card .facility p a:hover {
	color: #3071a9
}
table.results tbody tr:hover {
	background-color: transparent
}
table.results tbody tr:hover td {
	color: #333
}
table#results tbody td, table#results thead th, table.results tbody td, table.results thead th {
	font-size: 12px;
	color: #333
}
.team_schedule table.results thead td, .team_schedule table.results thead th {
	font-size: 12px;
	text-align: left
}
.team_schedule .date {
	width: 30%
}
.team_schedule .time {
	width: 15%;
	display: none
}
.team_schedule .team {
	width: 50%
}
.team_schedule .location {
	width: 25%;
	display: none
}
.team_schedule .score {
	width: 20%
}
.team_schedule .record {
	width: 10%;
	display: none
}
.standings, select#standings_nav_mobile {
	display: block
}
#wrapper .standings h2 {
	margin: 30px 0 0
}
#wrapper .standings h3 {
	font-family: Georgia, serif;
	font-size: 18px;
	color: #333
}
.standings .division {
	margin-bottom: 30px
}
ul#standings_nav {
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	padding: 10px 0;
	display: none
}
ul#standings_nav li {
	float: left;
	display: inline;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px solid #b3b3b3;
	font-size: 12px
}
#wrapper .game_story, .box_score {
	float: none;
	width: 100%
}
ul#standings_nav li:first-of-type {
	margin-left: 0;
	padding-left: 0
}
ul#standings_nav li:last-of-type {
	border-right: none
}
ul#standings_nav li a {
	color: #333;
	font-weight: 700;
	text-transform: uppercase
}
ul#standings_nav li a.active, ul#standings_nav li a:hover {
	color: #428bca
}
footer p, footer p a {
	color: #fff
}
.sum_wrapper {
	width: 100%
}
.box_score {
	margin-right: 0
}
.box_score p.label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #ccc;
	text-transform: uppercase;
	font-size: 14px
}
#wrapper .game_summary {
	margin-top: 25px
}
#wrapper .game_story h3 {
	padding: 20px 0 10px;
	font: 600 18px/18px Georgia, serif;
	color: #333
}
#wrapper .game_story p.game_body {
	font: 400 13px/21px Georgia, serif;
	margin-bottom: 12px
}
#wrapper .game_story p.section_label {
	margin: 10px 0 0;
	display: none;
	text-transform: uppercase;
	font-family: Arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px
}
#wrapper .score_card.summary {
	float: none;
	margin-top: 0;
	width: 100%
}
#wrapper .scoring_plays ul {
	list-style: none;
	margin: 15px 0 0;
	padding: 0
}
#wrapper .scoring_plays ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	padding-bottom: 10px
}
footer {
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #1e1e1e
}
footer p {
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", Arial, Helvetica, sans-serif;
	font-size: .7em;
	font-weight: 300;
	padding: 10px;
	margin: 0
}
footer p a:hover {
	color: #ccc
}
@media only screen and (min-width:480px) {
	body {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover
	}
	.mod_bg {
		padding: 15px;
		background: rgba(255, 255, 255, .5);
		margin-bottom: 15px!important
	}
	.dropshadow {
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
		-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3)
	}
	#branding img {
		height: 40px
	}
	#branding ul {
		padding-top: 11px
	}
	#branding nav #menu-icon {
		width: 40px;
		height: 22px;
		margin-top: 9px;
		background-size: 40px 22px
	}
	#mobile {
		top: 95px
	}
	#standings {
		top: 15px;
		right: 20px
	}
	#standings ul li {
		font-size: 14px;
		line-height: 16px
	}
	.strip p {
		padding-top: 3px
	}
	#wrapper {
		margin-top: 50px
	}
	#wrapper span.overline {
		font: 700 18px/18px Georgia, serif
	}
	.team_schedule table.results thead td, table#results tbody td, table#results thead th, table.results tbody td, table.results thead th {
		font-size: 14px
	}
}
@media only screen and (min-width:768px) {
	#branding nav ul {
		display: block
	}
	#branding nav #menu-icon, #score_nav_button {
		display: none
	}
	#score_nav_wrapper {
		margin-top: 0;
		display: block
	}
	#team_form, .results_wrapper {
		margin-top: 10px
	}
	#schedule_form, #team_form {
		float: left;
		margin-right: 10px;
		width: auto
	}
	#schedule_form .form-group, #team_form .form-group {
		margin-bottom: 0
	}
	#schedule_form .btn, #team_form .btn {
		width: auto
	}
	#wrapper .game_story, .box_score {
		float: left;
		width: calc(50% - 10px)
	}
	#wrapper #form-wrapper {
		background-color: rgba(255, 255, 255, .6)
	}
	#wrapper h1 {
		font: 400 32px/32px Georgia, serif;
		margin: 0 0 5px
	}
	#wrapper h2 {
		font: 400 21px/21px Georgia, serif;
		margin: 10px 0
	}
	#wrapper span.overline {
		margin: 0 0 10px
	}
	#wrapper span.year {
		display: inline-block
	}
	#hc-mm-wrapper #period-nav ul.desktop {
		display: block
	}
	#hc-mm-wrapper #period-nav select.mobile, #hc-mm-wrapper .buttons.mobile {
		display: none
	}
	.box_score {
		margin-right: 20px
	}
	#wrapper .scoring_plays ul li {
		font-size: 14px;
		line-height: 14px
	}
	#wrapper .game_story p.section_label {
		display: block
	}
	#wrapper .game_story h3 {
		font: 400 30px/30px Georgia, serif;
		padding: 15px 0 10px
	}
	#wrapper .game_story p.game_body {
		font: 400 18px/27px Georgia, serif
	}
	.score_card {
		width: calc(50% - 5px);
		margin-right: 10px
	}
	.score_card.right {
		margin-right: 0
	}
	.score_card table tbody td {
		font-size: 14px
	}
	#wrapper .team_schedule h2 {
		margin: 0
	}
	.team_schedule thead tr {
		border-top: none
	}
	.team_schedule .date {
		width: 18%
	}
	.team_schedule .time {
		width: 17%;
		display: table-cell
	}
	.team_schedule .team {
		width: 40%
	}
	.team_schedule .location {
		width: 25%
	}
	.team_schedule .score {
		width: 15%
	}
	.team_schedule .record {
		width: 10%;
		display: table-cell
	}
	#wrapper .standings h3 {
		font-size: 21px
	}
	.game_story p.section_label, ul#standings_nav {
		display: block
	}
	select#standings_nav_mobile {
		display: none
	}
}
@media only screen and (min-width:992px) {
	#team_form, .score_card.summary p.section_label {
		margin-top: 0
	}
	.score_card.summary {
		width: 100%;
		margin-top: 0;
		float: none
	}
	.team_schedule .date {
		width: 12%
	}
	.team_schedule .time {
		width: 10%
	}
	.team_schedule .team {
		width: 30%
	}
	.team_schedule .location {
		width: 31%;
		display: table-cell
	}
	.team_schedule .score {
		width: 10%
	}
	.team_schedule .record {
		width: 7%
	}
	ul#standings_nav li {
		font-size: 14px
	}
}